.custom-navbar {
  background-color: rgb(0, 157, 255);
}

h1 {
  color: white;
}

#temp-wind-hum, #city-date, #current-icon, #search-history {
  display:block;
}

#current-data, #five-day-forecast {
  display:flex;
  justify-content:space-evenly;
}
